/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

/* Style for boxes */
.box {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #161616;
    transition: background-color 0.3s ease;
}

/* Instagram box specific styling */
.instagram {
    border-color: #7e374e; /* Instagram color */
}

.instagram:hover {
    background-color: #922e4f;
    color: white;
}

/* LinkedIn box specific styling */
.linkedin {
    border-color: #0077b5; /* LinkedIn color */
}

.linkedin:hover {
    background-color: #0077b5;
    color: white;
}

/* GitHub box specific styling */
.github {
    border-color: #4078c0; /* GitHub color */
}

.github:hover {
    background-color: #4078c0;
    color: white;
}
